#wrapper{
    display:flex;

}

#left{
    margin-left: 5%;
    margin-top: 5%;
}

#story_display{
    margin-top: 7%;
    margin-left: 5%;
}

textarea{
    width: 500px;
    height: 250px;
    background-color: lightblue;
}

input, #story_buttons{
    margin-bottom: 1%;
}